@import "tailwindcss";

:root{

--primary:#9E1B32;
--secondary:#D4AF37;
--dark:#5D0E21;
--light:#FFFDF8;
--text:#2D2D2D;
--gold:#E8C547;
--cream:#FFF8EE;
--text:#2C2C2C;

}

html{

scroll-behavior:smooth;

}

body{



margin:0;
background:var(--light);
font-family:Inter,sans-serif;
color:var(--text);

}

*{

box-sizing:border-box;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:var(--primary);
border-radius:20px;

}